/* Palette::locale::english */
.en {
    --bg: oklch(0 0 0);
    --bg-meta: #000000;
    --txt: #fefff2;
    --acc: #01de82;
    --sec: #020e0e;

    /* Nice alternative
    --txt: #fefff2;
    --acc: #ff604a;
    --sec: #10121c;
    */

    /* Red alternative
    --txt: #fefff2;
    --acc: #e40000;
    --sec: #111;
    */

    /* Another
    --txt: #d2ffc6;
    --acc: #c23a3a;
    --sec: #030031;
    */
}

/* Palette::locale::german */
.de {
    --bg: oklch(0 0 0);
    --bg-meta: #000000;
    --txt: #ffffff;
    --acc: #b2b2b2;
    --sec: #000000; /* #121 for some color */

    /* Nice alternative
    --txt: #b8e2d4;
    --acc: #f68d8c;
    --sec: #000000;
    */
}

/* Palette::locale::portuguese */
.pt {
    --bg: oklch(0 0 0);
    --bg-meta: #000000;

    --txt: #f0f8ff;
    --acc: #f68d8c;
    --sec: #0c020f;

    /* Nice alternative
    --txt: #f0f8ff;
    --acc: #7eacb5;
    --sec: #112;
    */

    /* Another
    --txt: #b8e2d4;
    --acc: #f68d8c;
    --sec: #000000;
    */
}
