/* Palette::locale::english */
.en {
    --bg: oklch(0 0 0);
    --bg-meta: #000000;
    --txt: #ffffff;
    --acc: #b2b2b2;
}

/* Palette::locale::german */
.de {
    --bg: oklch(0 0 0);
    --bg-meta: #000000;
    --txt: #fefff2;
    --acc: #ff604a;
}

/* Palette::locale::portuguese */
.pt {
    --bg: oklch(0 0 0);
    --bg-meta: #000000;
    --txt: #ffffff;
    --acc: #b548c9;
}
